body{
    background-color: #111111;
}

.main-container{
    margin-top: 220px;
    text-align: center;
}

.main-container p{
    color: #eeeeee;
    font-size: 3em;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.main-container input{
    background-color: #eeeeee;
    font-size: 1em;
    border: 0px;
    border-radius: 5px;
}

.main-container button{
    background-color: #eeeeee;
    font-size: 1em;
    color: #111111;
    border: 0px;
    border-radius: 5px;
}

@media screen and (max-width: 1279px) {
    body {
      background-color: blue;
    }
}